<div class="restaurant_sign">
    <h1>WELCOME TO X RESTAURANT</h1>
</div>
<div class="register">
    <h3>New to here? Please register.</h3>
    <form method="POST" action="/register">
        Username: <input type="text" name="username"> <br>
        Password: <input type="text" name="password"> <br>
        <button type="submit"><h3>REGISTER</h3></button>
    </form>
</div>

<div class="login">
    <h3>Ready to Order? Login and order.</h3>
    <form method="POST" action="/login">
        Username: <input type="text" name="username"> <br>
        Password: <input type="text" name="password"> <br>
        <button type="submit"><h3>LOGIN</h3></button>
    </form>
</div>